body {
  background-color: $color-bg;
  font-size: 20px;
  font-family: 'basic-sans', sans-serif;
}

h1, h2, h3 {
  color: $color-text;
}

a {
  color: $color-link;
  transition: color 0.2s ease;
  &:hover, &:active {
    color: darken($color-link, 10%);
  }
}

.page-content {
  header {
    margin: rem(20px) 0;
    
    h1 {
      padding-bottom: rem(5px);
      position: relative;
      &::after {
        position: absolute;
        content: '';
        bottom: rem(-3px);
        left: 0;
        width: rem(60px);
        height: rem(3px);
        background-color: $color-link;
      }
    }
  }
}